<div class="mainHeader" [ngClass]=" dataRecieve ? 'headerOpacity' : ''">
    <div class="innerHeader">
        <div class="logo">
            <span class="logoName" routerLink="/listUser">MCL</span>
        </div>
        <div class="headerTitles">
            <span routerLink="/listUser">User List</span>
            <span routerLink="/addUser">Add User</span>
            <span (click)="logoutFun()"> <i class="fa fa-power-off"></i> {{userDetails}}</span>
        </div>
        <div class="headerIcons">
            <i class="fa fa-plus addIcon" routerLink="/addUser"></i>
            <i class="fa fa-power-off" (click)="logoutFun()"></i>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="openPopup">
    <div class="popup">
        <div class="content">
            <h4>Do you really want to <span>Logout</span> from this device ?</h4>
            <div class="popupBtns">
                <button type="cancel" class="popupCancel" (click)="closePopup()">No</button>
                <button type="button" class="popupDelete"
                    (click)="logout()">Yes</button>
            </div>
        </div>
    </div>
</div>