.registerDetailsMain {
    width: 100%;
    background-color: transparent;
    border-radius: 16px;

    .regCard {
        width: 100%;

        h2 {
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 8px;
            text-align: left;
            color: #caa01f;
            margin: 1rem 0 1rem;
            font-family: "Anta", sans-serif;
        }

        form {
            padding: 2rem;
            border-radius: 16px;
            margin: 0rem 0 0;
            background-color: #ffffff;
            box-shadow: 0px 0px 35px -5px rgb(204, 204, 204);

            img {
                height: 10rem;
                width: auto;
                margin: 0 auto;
                text-align: center;
            }

            .enableEdit {
                display: flex;
                gap: 0.5rem;
                justify-content: right;
                text-align: right;
                top: 30px;
                right: 0;
                align-items: center;
                position: relative;

                span {
                    color: #415958;
                    letter-spacing: 1px;
                }
            }

            .form-row{
                margin: 1rem 0;

                label {
                    font-size: 20px;
                    letter-spacing: 1.5px;
                    color: rgb(39, 39, 39);
                    margin-bottom: 0px;
                }

                input {
                    padding: 0.4rem 0.4rem 0.4rem 0.5rem;
                    font-size: 18px;
                    letter-spacing: 1.5px;
                    border-radius: 0px;
                    color: rgb(29, 29, 29);
                    background-color: #dedede;
                }

                input:focus {
                    outline: none;
                    box-shadow: none;
                    border: 1px solid transparent;
                    border-bottom: 2px solid rgba(37, 117, 252, 1);
                }
            }

            .saveBtn{
                text-align: right;
                button {
                    margin: 1rem auto 0;
                    background-color: rgb(255, 204, 0);
                    padding: 1rem 2rem;
                    font-size: 20px;
                    font-weight: bold;
                }
    
                button:hover {
                    background-color: black;
                    color: rgb(255, 204, 0);
                    transition: 0.5s;
                    box-shadow: 0px 0px 10px 2px rgb(255, 204, 0);
                }
            }
            
        }
    }
}

@media (max-width : 767px) {
    .registerDetailsMain{
        padding: 0;
        .regCard{
            form{
                .form-row{
                    margin: 0;
                }
                .saveBtn{
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
}