<div class="registerDetailsMain">
    <div class="regCard">
        <h2>User Details</h2>

        <form [formGroup]="regUpdateForm">
            <img src="assets/male1.png" alt="">
            <div class="enableEdit">
                <span>Edit</span>
                <label class="switch">
                    <div style="display: inline-block;">
                        <input type="checkbox" (change)="changed($event)">
                        <span class="slider round"></span>
                    </div>
                </label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Name</label>
                    <input type="email" class="form-control" formControlName="firstName" [ngClass]=" !isChecked ? 'disableInp' : '' " [readonly]="!isChecked" placeholder="Enter Name" value={{regDetails.firstName}}>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Username</label>
                    <input type="text" class="form-control" formControlName="userName" [ngClass]=" !isChecked ? 'disableInp' : '' " [readonly]="!isChecked" placeholder="Enter Username" value={{regDetails.userName}}>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" formControlName="email" [ngClass]=" !isChecked ? 'disableInp' : '' " [readonly]="!isChecked" placeholder="Enter Email" value={{regDetails.email}}>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Phone Number</label>
                    <input type="password" class="form-control" placeholder="Enter Phone Number" [ngClass]=" !isChecked ? 'disableInp' : '' " [readonly]="!isChecked">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Password</label>
                    <input type="password" class="form-control" formControlName="password" [ngClass]=" !isChecked ? 'disableInp' : '' " [readonly]="!isChecked" placeholder="Enter Password" value={{regDetails.password}}>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]=" !isChecked ? 'disableInp' : '' " [readonly]="!isChecked" placeholder="Enter Confirm Password" value={{regDetails.confirmPassword}} >
                </div>
            </div>
            <div class="saveBtn">
                <button (click)="openPopup()">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</div>

<div class="overlay" *ngIf="openRegPopup">
    <div class="popup">
        <div class="content">
            <h4>Are you sure, you want to change your details ?</h4>
            <div class="popupBtns">
                <button type="cancel" class="popupCancel" (click)="closePopup()">No</button>
                <button type="button" class="popupDelete" (click)="updateDetails()">Yes</button>
            </div>
        </div>
    </div>
</div>