.deptMain {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 16px;

    .headings {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 8px;
            text-align: left;
            color: #caa01f;
            margin: 1rem 0;
            font-family: "Anta", sans-serif;
        }

        h3 {
            text-align: right;
        }
    }

    .cardsMain {
        height: 10rem;
        width: 10rem;
        border-radius: 10px;
        display: inline-grid;
        background-color: white;
        cursor: pointer;
        align-items: center;
        padding: 0 1rem;
        margin: 1rem;
        -webkit-box-shadow: 0 10px 10px -10px #000000;
        -moz-box-shadow: 0 10px 10px -10px #000000;
        box-shadow: 0 35px 35px -25px #acacac;

        .number {
            font-size: 60px;
            text-align: center;
            border-bottom: 1px solid rgb(181, 181, 181);
        }

        .dept {
            letter-spacing: 1px;
            text-align: center;
        }
    }

    .cardsMain:hover {
        transition: 0.5s;
        background-color: #caa01f;
        box-shadow: 0px 0px 15px 2px gray;

        .number {
            color: white;
        }

        .dept {
            color: white;
        }
    }
}
@media (max-width : 938px) {
    .deptMain{
        .headings{
            display: inline;
            text-align: center;
            h3{
                text-align: center;
            }
        }
    }
}
@media (max-width : 720px) {
    .deptMain{
        .headings{
            h2{
                font-size: 40px;
            }
        }
    }
}
::-webkit-scrollbar {
    width: 7px;
    padding-right: 5rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #caa01f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #775e13;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(255, 255, 255);
}