<div class="loginMain" *ngIf="hideLogin">
    <div class="img">
        <img src="assets/lockBack.png" alt="">
    </div>
    <h3 class="loginHeading">Sign In</h3>
    <form class="loginForm cornerBorder" [formGroup]="loginForm">
        <div class="inputGroup">
            <div class="inputLogo">
                <i class="fa fa-envelope-o"></i>
                <input type="text" formControlName="email" class="inputLogin" placeholder="Email">
            </div>
            <span *ngIf="loginForm.hasError('required', 'email') && loginForm.controls['email'].dirty"
                class="valErr">*Email is required</span>
            <span *ngIf="loginForm.hasError('email', 'email')" class="valErr">*Email is Invalid</span>
        </div>
        <div class="inputGroup">
            <div class="inputLogo">
                <i class="fa fa-key"></i>
                <input type="password" formControlName="password" class="inputLogin"
                    placeholder="Password">
            </div>
            <span *ngIf="loginForm.hasError('required', 'password') && loginForm.controls['password'].dirty"
                class="valErr">*Password is required</span>
        </div>
        <button (click)="login()" [disabled]="loginForm.invalid"
            class="loginBtn">Login</button>
    </form>
    <div class="loginLinks">
        <a class="forgotPassword" routerLink="/forgot-password">Forgot Password ?</a>
        <a class="createAccount" routerLink="/register">Create Account</a>
    </div>
</div>