<div class="p-10 bg-black rounded-2xl loginBlock">
    <h3 class="text-3xl text-center font-semibold py-3 text-white">Register</h3>
    <form class="flex flex-col" [formGroup]="registerForm">
        <div class="flex flex-col mt-4 mb-1">
            <input type="text" formControlName="firstName" class="p-2 border border-gray-300 rounded" placeholder="First Name">
            <span *ngIf="registerForm.hasError('required', 'firstName') && registerForm.controls['firstName'].dirty" class="text-red-500">*First Name is required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input type="text" formControlName="lastName" class="p-2 border border-gray-300 rounded" placeholder="Last Name">
            <span *ngIf="registerForm.hasError('required', 'lastName') && registerForm.controls['lastName'].dirty" class="text-red-500">*Last Name is required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input type="text" formControlName="email" class="p-2 border border-gray-300 rounded" placeholder="Email">
            <span *ngIf="registerForm.hasError('required', 'email') && registerForm.controls['email'].dirty" class="text-red-500">*Email is required</span>
            <span *ngIf="registerForm.hasError('email', 'email')" class="text-red-500">*Email is Invalid</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input type="text" formControlName="userName" class="p-2 border border-gray-300 rounded" placeholder="Username">
            <span *ngIf="registerForm.hasError('required', 'userName') && registerForm.controls['userName'].dirty" class="text-red-500">*Username is required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input type="password" formControlName="password" class="p-2 border border-gray-300 rounded" placeholder="Password">
            <span *ngIf="registerForm.hasError('required', 'password') && registerForm.controls['password'].dirty" class="text-red-500">*Password is required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input type="password" formControlName="confirmPassword" class="p-2 border border-gray-300 rounded" placeholder="Confirm Password">
            <span *ngIf="registerForm.hasError('required', 'confirmPassword') && registerForm.controls['confirmPassword'].dirty" class="text-red-500">*Confirm Password is required</span>
            <span *ngIf="registerForm.hasError('confirmPasswordValidator', 'confirmPassword')" class="text-red-500">*Confirm Password didn't matched</span>
        </div>
        <button (click)="regiter()" [disabled]="registerForm.invalid" [class.disabled]="registerForm.invalid" class="bg-indigo-500 p-2 mt-3 rounded text-white">Submit</button>
    </form>
    <div class="flex justify-center mt-4">
        <span class="text-white">Already have account ?</span><a class="text-indigo-600 ml-2 cursor-pointer" routerLink="/login">Login Here</a>
    </div>
</div>