<div class="loginMain registerBlock">
    <h3 class="loginHeading">Register</h3>
    <form class="loginForm cornerBorder" [formGroup]="registerForm">
        <div class="inputGroup registerInput">
            <div class="inputLogo">
                <i class="fa fa-user-circle-o"></i>
                <input type="text" formControlName="firstName"   placeholder="Enter Full Name">
            </div>
            <span *ngIf="registerForm.hasError('required', 'firstName') && registerForm.controls['firstName'].dirty" class="text-red-500">*First Name is required</span>
        </div>
        <div class="inputGroup registerInput">
            <div class="inputLogo">
                <i class="fa fa-envelope-o"></i>
                <input type="text" formControlName="email"   placeholder="Email">
            </div>
            <span *ngIf="registerForm.hasError('required', 'email') && registerForm.controls['email'].dirty" class="text-red-500">*Email is required</span>
            <span *ngIf="registerForm.hasError('email', 'email')" class="text-red-500">*Email is Invalid</span>
        </div>
        <div class="inputGroup registerInput">
            <div class="inputLogo">
                <i class="fa fa-envelope-o"></i>
                <input type="phone" formControlName="phoneNumber"   placeholder="Phone Number">
            </div>
            <span *ngIf="registerForm.hasError('required', 'phoneNumber') && registerForm.controls['phoneNumber'].dirty" class="text-red-500">*Phone Number is required</span>
            <span *ngIf="registerForm.hasError('phoneNumber', 'phoneNumber')" class="text-red-500">*Phone Number is Invalid</span>
        </div>
        <div class="inputGroup registerInput">
            <div class="inputLogo">
                <i class="fa fa-podcast"></i>
                <input type="text" formControlName="userName"   placeholder="Username">
            </div>
            <span *ngIf="registerForm.hasError('required', 'userName') && registerForm.controls['userName'].dirty" class="text-red-500">*Username is required</span>
        </div>
        <div class="inputGroup registerInput">
            <div class="inputLogo">
                <i class="fa fa-key"></i>
                <input type="password" formControlName="password"   placeholder="Password">
            </div>
            <span *ngIf="registerForm.hasError('required', 'password') && registerForm.controls['password'].dirty" class="text-red-500">*Password is required</span>
        </div>
        <div class="inputGroup registerInput">
            <div class="inputLogo">
                <i class="fa fa-unlock"></i>
                <input type="password" formControlName="confirmPassword"   placeholder="Confirm Password">
            </div>
            <span *ngIf="registerForm.hasError('required', 'confirmPassword') && registerForm.controls['confirmPassword'].dirty" class="text-red-500">*Confirm Password is required</span>
            <span *ngIf="registerForm.hasError('confirmPasswordValidator', 'confirmPassword')" class="text-red-500">*Confirm Password didn't matched</span>
        </div>
        <button (click)="regiter()" [disabled]="registerForm.invalid" [class.disabled]="registerForm.invalid" class="loginBtn registerBtn">Submit</button>
    </form>
    <div class="registerLinks">
        <span>Already have account ? <a routerLink="/login">Login Here</a></span>
    </div>
</div>