.userListMain {
    width: 1000px;
    margin: 5rem auto 0;

    h2 {
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 4px;
        text-align: center;
        color: rgba(37, 117, 252, 1);
        margin-top: 1rem;
        font-family: "Pridi", serif !important;
    }

    .inputSearch {
        height: 3rem;
        border: 1px solid rgb(16, 31, 81);
        width: 97%;
        padding-left: 1rem;
        border-radius: 25px;
        margin: 1rem 0;
        color: white;
        font-size: 18px;
        background-color: rgb(16, 31, 81);
    }

    .inputSearch:focus {
        outline: none;
        transition: 0.5s;
        border: 1px solid rgb(8, 18, 52);
        box-shadow: 0px 0px 15px 3px rgb(0, 0, 0);
    }

    .radioTotal {
        display: flex;
        justify-content: space-between;
        margin: 1rem 1.5rem;
        align-items: center;

        .allRadio {
            display: flex;
            gap: 3rem;
            color: white;
            font-size: 18px;
            letter-spacing: 2px;
            align-items: center;

            label {
                display: flex;
                align-items: center;

                input[type=radio] {
                    border: 0px;
                    width: 1rem;
                    height: 1em;
                    color: yellow;
                    margin-right: 0.5rem;
                }
            }
        }

        .totalNumbers {
            font-size: 20px;
            color: rgba(37, 117, 252, 1);
            align-items: center;
            letter-spacing: 1px;

            span {
                color: rgb(255, 204, 0);
                font-size: 30px;
            }
        }
    }

    .cardMain {
        display: inline-grid;
        border-radius: 15px;
        box-shadow: 5px 5px 10px 3px rgb(0, 0, 0);
        width: 300px;
        margin: 1rem;
        padding: 1rem 0.5rem;
        height: 300px;
        background-color: rgb(2, 9, 31);
        align-items: center;

        h2 {
            text-align: center;
            font-size: 25px;
            color: white;
            margin: 0 0;
            letter-spacing: 1px;
            border-bottom: 1px solid rgba(37, 117, 252, 1);
            padding-bottom: 1rem;
        }

        h3 {
            text-align: left;
            margin: 0.6rem;
            color: rgba(37, 117, 252, 1);
            align-items: center;
            letter-spacing: 1px;
            font-size: 16px;

            i {
                font-size: 20px;
                color: rgb(255, 204, 0);
                text-align: center;
                width: 10%;
            }
        }

        .actionBtns {
            display: flex;
            gap: 1rem;

            .deleteBtn,
            .editBtn {
                background-color: transparent;
                color: white;
                font-size: 18px;
                padding: 0.2rem;
                letter-spacing: 1px;
                width: 100%;
            }

            .deleteBtn:hover {
                background-color: transparent;
                text-shadow: 5px 1px 30px red;
                transition: 0.5s;
                color: red;
            }

            .editBtn:hover {
                background-color: transparent;
                text-shadow: 5px 1px 30px green;
                transition: 0.5s;
                color: green;
            }
        }


    }

    .cardMain:hover {
        background-color: rgb(0, 0, 0);
        box-shadow: none;
        transition: 0.8s;

    }

    .paginationNum {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
        padding: 0 1rem;

        .selectPage {

            select {
                width: 100px;
                border-radius: 8px;
                border: none;
                height: 2.5rem;
                background-color: #eaeaea;
            }
        }

        .paginationMain {
            border-radius: 15px;
            margin: 0;
            color: gray;
            padding: 1rem 1rem 0;
            border: 1px solid rgba(37, 117, 252, 1);
        }
    }
}

@media (max-width : 1000px) {
    .userListMain {
        width: 100%;
        text-align: center;

        .cardMain {
            margin: 0.5rem;
        }
    }
}

@media (max-width : 631px) {
    .userListMain {
        text-align: center;

        .inputSearch {
            width: 90%;
        }

        .cardMain {
            width: 254px;

            h2 {
                font-size: 20px;
            }

            .actionBtns {

                .deleteBtn,
                .editBtn {
                    font-size: 23px;
                }
            }
        }
    }
}

@media (max-width : 630px) {
    .userListMain {
        h2 {
            font-size: 50px;
        }

        .cardMain {
            width: 90%;

            h2 {
                font-size: 25px;
            }

            h3 {
                font-size: 20px;
            }
        }
    }
}

@media (max-width : 720px) {
    .userListMain {
        .radioTotal {
            margin: 1rem 0;
            display: grid;
            justify-content: center;

            .allRadio {
                display: ruby;

                label {
                    margin: 1rem;

                    input[type=radio] {
                        border: 0px;
                        width: 1.5rem;
                        height: 1.5em;
                        color: yellow;
                        margin-right: 0.5rem;
                    }

                    span {
                        font-size: 18px;
                    }
                }
            }

            .totalNumbers {
                font-size: 30px;
            }
        }

        .paginationNum {
            display: grid;
            justify-content: center;
            margin: 0rem 0 2rem;

            .paginationMain {
                margin: 2rem 0;
                font-size: 20px;
            }
        }
    }
}