<div class="userListMain">
    <h2>Dashboard</h2>
    <div style="text-align: center;">
        <input type="search" class="inputSearch" placeholder="Search..." [(ngModel)]="searchText" id="">
    </div>
    
    <div style="text-align: center;">
        <div class="cardMain" *ngFor="let item of userList | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          }  | filter : searchText ">
            <h2 class="cardHeading">{{item.name}}</h2>
            <h3><i class="fa fa-envelope-o"></i> : {{item.email}}</h3>
            <h3><i class="fa fa-phone"></i> : {{item.phoneNumber}}</h3>
            <h3><i class="fa fa-id-badge"></i> : {{item.empId}}</h3>
            <div class="actionBtns">
                <button class="editBtn" [routerLink]="[ '/updateUser', item._id ]"> <i class="fa fa-pencil"></i>
                    Edit</button>
                <button class="deleteBtn" (click)="selectUser(item)"> <i class="fa fa-trash-o"></i> Delete</button>
            </div>
        </div>
    </div>

    <div class="paginationNum">
        <pagination-controls class="paginationMain" previousLabel="Prev" nextLabel="Next"
            (pageChange)="onTableDataChange($event)">
        </pagination-controls>
        <div class="selectPage">
            <select (change)="onTableSizeChange($event)">
                <option *ngFor="let size of tableSizes">
                    {{size}}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="openPopup">
    <div class="popup">
        <div class="content">
            <h4>You want to delete the record of <span> {{deleteUserName}} ?</span></h4>
            <div class="popupBtns">
                <button type="cancel" class="popupCancel" (click)="closePopup()">Cancel</button>
                <button type="button" class="popupDelete" (click)="deleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="overlay" *ngIf="openHistory">
    <div class="popup">
        <div class="content">
            <app-history></app-history>
            <div class="popupBtns">
                <button class="popupCancel" (click)="closeHistory()">Close</button>
            </div>
        </div>
    </div>
</div> -->