<div class="mainAddForm">
    <h2>User Details</h2>
    <form [formGroup]="updateUserForm">
        <div class="inputGroup">
            <i class="fa fa-user-circle-o"></i>
            <input type="text" placeholder="Enter Name" formControlName="name">
        </div>
        <div class="valErr" *ngIf="hasError('name','required')">Name is required
        </div>

        <div class="inputGroup">
            <i class="fa fa-envelope-o"></i>
            <input type="email" placeholder="Enter Email" formControlName="email">
        </div>
        <div class="valErr" *ngIf="hasError('email','required')">Email is required
        </div>

        <div class="inputGroup">
            <i class="fa fa-phone"></i>
            <input type="phone" placeholder="Enter Phone" formControlName="phoneNumber">
        </div>
        <div class="valErr" *ngIf="hasError('phoneNumber','required')">Phone Number is required
        </div>

        <div class="inputGroup">
            <i class="fa fa-address-book-o"></i>
            <input type="text" placeholder="Enter Address" formControlName="address">
        </div>
        <div class="valErr" *ngIf="hasError('address','required')">Address is required
        </div>

        <div class="inputGroup">
            <i class="fa fa-briefcase"></i>
            <input type="text" placeholder="Enter Department" formControlName="salary">
        </div>
        <div class="valErr" *ngIf="hasError('salary','required')">Department is required
        </div>

        <div class="inputGroup">
            <i class="fa fa-id-badge"></i>
            <input type="text" placeholder="Enter Employee Id" formControlName="empId">
        </div>
        <div class="valErr" *ngIf="hasError('empId','required')">Employee Id is required
        </div>

        <div class="actionBtns">
            <button class="updateCan" routerLink="/listUser">Cancel</button>
            <button class="updateDel" (click)="selectUser(getUserId)">Delete</button>
            <button class="updateBtn" (click)="updateForm()">Update</button>
        </div>
    </form>
</div>

<div class="overlay" *ngIf="openPopup">
    <div class="popup">
        <div class="content">
            <h4>You want to delete the record of <span> {{deleteUserName}}</span> ?</h4>
            <div class="popupBtns">
                <button type="cancel" class="popupCancel" (click)="closePopup()">Cancel</button>
                <button type="button" class="popupDelete"
                    (click)="deleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>