.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    overflow: hidden;

    .popup {
        margin: 5rem auto 0;
        padding: 20px;
        background: #1e2036;
        border-radius: 15px;
        width: fit-content;
        position: relative;
        transition: all 5s ease-in-out;
        z-index: 999;
        text-align: -webkit-center;

        .content {
            max-height: fit-content;
            width: fit-content;
            overflow: auto;

            h4 {
                margin-top: 1rem;
                color: #ffffff;
                text-align: center;
                font-size: 25px;
                letter-spacing: 1px;

                span {
                    font-size: 25px;
                    font-weight: 500;
                    position: relative;
                    color: red;
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-align: center;
                    margin-bottom: 2rem;
                    text-wrap: nowrap;
                }
            }
            .popupBtns {
                display: flex;
                justify-content: center;
                gap: 1rem;
                margin: 2rem 0 0.5rem;

                .popupDelete, .popupCancel{
                    height: 3rem;
                    width: 7rem;
                    letter-spacing: 1px;
                    font-weight: 500;
                    font-size: 18px;
                }
                .popupCancel{
                    background-color: gray;
                    color: rgb(0, 0, 0);
                }
                .popupCancel:hover{
                    background-color: black;
                    color: gray;
                    box-shadow: 0px 0px 10px 2px gray;
                    transition: 0.5s;
                }

                .popupDelete{
                    background-color: red;
                    color: white;
                }
                .popupDelete:hover{
                    background-color: black;
                    color: red;
                    box-shadow: 0px 0px 10px 2px red;
                    transition: 0.5s;
                }
            }
        }
    }
}
.loginMain {
    margin: 3rem auto;
    width: 400px;
    text-align: center;

    .img{
        text-align: center;
        

        img{
            height: 10rem;
            width: auto;
            margin: 0 auto;
            text-align: center;
        }
    }

    .loginHeading {
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 6px;
        text-align: center;
        color: rgb(255, 255, 255);
        margin: 0 0 1rem;
        font-family: "Anta", sans-serif;
        text-shadow: 1px 1px 20px rgba(37, 117, 252, 1);
    }

    .loginForm {
        padding: 3rem 1rem;
        text-align: center;

        .inputGroup{
            margin: 0 0 2rem;
            align-items: center;

            .inputLogo{
                display: flex;
                justify-content: center;
                border: 0.5px solid gray;
                border-radius: 25px;

                i{
                    font-size: 25px;
                    border-radius: 50%;
                    background-color: gray;
                    padding: 0.5rem 0.7rem;
                    align-items: center;
                }
                input{
                    width: 100%;
                    padding-left: 1rem;
                    background-color: transparent;
                    color: white;
                    height: 3rem;
                    font-size: 20px;
                    letter-spacing: 1px;
                }
                input:focus{
                    outline: none;
                }
            }
           
        }
        .loginBtn{
            width: 100%;
            border-radius: 25px;
            background-color: rgb(255, 204, 0);
            padding: 0.7rem 0;
            font-size: 22px;
            cursor: pointer;
            font-weight: bold;
            letter-spacing: 1px;
        }
        .loginBtn:hover{
            background-color: black;
            box-shadow: 0px 0px 10px 3px rgb(255, 204, 0);
            color : rgb(255, 204, 0);
            transition: 0.5s;
            
        }
    }

    .loginLinks{
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        margin: 2rem 0;
        font-size: 20px;
        color: white;
        letter-spacing: 0.5px;

        a{
            color: rgba(37, 117, 252, 1);
        }

        a:hover{
            color: white;
            text-shadow: 0px 1px 5px rgba(37, 117, 252, 1);
            transition: 0.5s;
        }
    }
}

@media (max-width : 600px) {
    .loginMain{
        width: 95%;

        .loginForm{
            .inputGroup{
                .inputLogo{
                    border-radius: 50px;
                    input{
                        height: 4rem;
                    }
                    i{
                        padding: 1rem;
                    }
                }
            }
        }
    }
    .overlay {
        .popup {
            width: 90%;
        }
    }
}

@media (max-width : 450px) {
    .loginMain{
        .loginForm{
            padding: 1rem;
        }
        .loginLinks{
            display: grid;
            justify-content: center;
            font-size: 25px;
            line-height: 50px;
            letter-spacing: 1px;
        }
    }
}