<div class="loginMain">
    <div class="img">
        <img src="assets/forgotBack.png" alt="">
    </div>
    <h3 class="loginHeading">Forget Password</h3>
    <form class="loginForm cornerBorder" [formGroup]="forgetForm">
        <!-- <span class="mb-4 text-center text-white textColor">Instructions Will Be sent to you Email</span> -->
        <div class="inputGroup">
            <div class="inputLogo">
                <input type="text" formControlName="email" placeholder="Email">
            </div>
            <span *ngIf="forgetForm.hasError('required', 'email') && forgetForm.controls['email'].dirty" class="text-red-500">*Email is required</span>
            <span *ngIf="forgetForm.hasError('email', 'email')" class="text-red-500">*Email is Invalid</span>
        </div>
        <button (click)="sendEmail()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" class="loginBtn">Send Email</button>
    </form>
    <div class="loginLinks">
        <a routerLink="/login">Login Here</a>
        <a routerLink="/register">Createt Account</a>
    </div>
</div>