<div class="p-10 bg-black rounded-2xl loginBlock">
    <h3 class="text-3xl text-center font-semibold py-5 text-white">Forget Password</h3>
    <form class="flex flex-col" [formGroup]="forgetForm">
        <span class="mb-4 text-center text-white textColor">Instructions Will Be sent to you Email</span>
        <div class="flex flex-col mt-4 mb-1">
            <input type="text" formControlName="email" class="p-2 border border-gray-300 rounded" placeholder="Email">
            <span *ngIf="forgetForm.hasError('required', 'email') && forgetForm.controls['email'].dirty" class="text-red-500">*Email is required</span>
            <span *ngIf="forgetForm.hasError('email', 'email')" class="text-red-500">*Email is Invalid</span>
        </div>
        <button (click)="sendEmail()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" class="bg-indigo-500 p-2 mt-3 rounded text-white">Send Email</button>
    </form>
    <div class="flex justify-center mt-4">
        <a class="text-indigo-600 ml-2 cursor-pointer" routerLink="/login">Login Here</a>
    </div>
</div>